@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

body {
  @apply bg-primary;
}

.navbar-home {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(17.5px);
  -webkit-backdrop-filter: blur(17.5px);
}

.more-gallery::-webkit-scrollbar {
  height: 8px;
}

.more-gallery::-webkit-scrollbar-track {
  background: #1c1c1c;
}

.more-gallery::-webkit-scrollbar-thumb {
  @apply rounded-lg;
  background: #888;
}

.more-gallery::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  width: 120px;
  height: 20px;
  -webkit-mask: radial-gradient(circle closest-side, #1d4ed8 94%, #0000)
    left/20% 100%;
  background: linear-gradient(#1d4ed8 0 0) left/0% 100% no-repeat #ddd;
  animation: l17 2s infinite steps(6);
}
@keyframes l17 {
  100% {
    background-size: 120% 100%;
  }
}
